### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
back-end/target
server/target
back-end/dyd.oblog.iml
server/server.iml

### Maven ###
back-end/.mvn

### Angular ###
ui/dist
ui/node_modules
ui/dist
ui/dist-server
ui/tmp
ui/out-tsc

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDE - IDEA
.idea

# misc
.sass-cache
connect.lock
coverage
libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
typings

# e2e
e2e/*.js
e2e/*.map