.blog-detail {
    margin: 0 15%;
    padding: 5px;
    height: 100%;
}

blockquote {
    border-left: 4px solid #ccc;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 16px;
}

.ql-syntax {
    background-color: #23241f;
    color: #f8f8f2;
    overflow: visible;
}