/* You can add global styles to this file, and also import other style files */
.ant-card-bordered {
    border: none;
}

/* 页面底部按钮 */
.page-bottom-button-group {
    text-align: center;
}
.page-bottom-button-group > button {
    margin: 5px;
}

/* 页面外边框 */
.page-basic {
    padding: 5px;
}