/* You can add global styles to this file, and also import other style files */
.ant-card-bordered {
    border: none;
}

.page-bottom-button-group {
    text-align: center;
}
.page-bottom-button-group > button {
    margin: 5px;
}