<ul nz-menu [nzMode]="'horizontal'">
  <li nz-menu-item href="/home">TechTopic</li>
  <li nz-menu-item *ngFor="let category of cagegoryServcie.categories" (mouseenter)="mouseOver(category)">{{category.label}}
  </li>

  <a *ngIf="!user.authenticated()" routerLink="/register">注册</a>
  <a *ngIf="!user.authenticated()" routerLink="/login">登录</a>
  <!-- 登陆用户操作菜单 -->
  <a *ngIf="user.authenticated()">
    {{user.userName()}}
    <i nz-icon type="down" nz-popover [nzContent]="contentTemplate"
    nzPlacement="bottomRight" style="font-size: 10px;"></i>
    <ng-template #contentTemplate>
      <div class="user-setting">
        <p *ngIf="user.isAdmin()" routerLink="/setting/menu">菜单设置</p>
        <p *ngIf="user.authenticated()" (click)="user.logout()">退出登陆</p>
      </div>
    </ng-template>
  </a>
  <!-- 登陆用户的消息 -->
  <!-- <a *ngIf="user.authenticated()">
    <i nz-icon type="bell"></i> 10
  </a> -->
</ul>
<app-top-nav-flyout (mouseleave)="mouseOut()" *ngIf="showFlyout()" [parentCategory]="mouseOverCategory" class="nav-flyout">
</app-top-nav-flyout>