/* 菜单高度 */
ul {
    height: 60px;
}
/* 网站标题字体调大 */
ul > li:first-child {
    font-size: 22px !important;
    margin-left: 50px !important;
}
/* 菜单高度 & 字体 */
ul > li {
    font-size: 16px;
    height: 60px;
    line-height: 60px !important;
    margin-left: 4px;
}

a {
    float: right;
    height: 60px;
    line-height: 60px;
    padding: 0px 5px;
}

.nav-flyout {
    position: fixed;
    top: 61px;
    left: 0px;
    right: 0px;
    background-color: white;
    z-index: 999;
    padding: 0 50px;
}

/* 用户设置下拉框样式 */
.user-setting > p {
    color: rgba(0, 0, 0, 0.65);
    padding: 5px;
}
.user-setting > p:hover {
    color: #1890ff;
    cursor: pointer;
}