/* 博客列表页面整体样式 */
.blog {
    margin: 10px 15%;
}
/* 博客卡片样式 */
.card-blogs {
    margin: 10px 0;
}
/* 博客卡片左边蓝色条样式 */
.card-blogs:before {
    position: absolute;
    content: "";
    width: 5px;
    height: 36px;
    background: #1890ff;
    z-index: 666;
}

/* 博客摘要div */
.blog-summary-div {
    margin-left: 20px;
}
/* 博客摘要文本div */
.blog-summary-text-div {
    margin-left: 15px;
}
/* 图标div */
.blog-summary-icon-div {
    margin-top: 10px;
}
.blog-summary-icon-div > i {
    margin-left: 15px;
}
/* 博客卡片右上角按钮 */
.blog-card-button {
    font-size: 18px;
    margin: 0 5px;
}