<div class="blog">
  <div *ngFor="let blog of blogListService.blogs" class="card-blogs">
    <nz-card [nzTitle]="blog.name" [nzExtra]="extraTemplate">
      <div class="blog-summary-div">
        <!-- 博文简介 -->
        <div class="blog-summary-text-div">{{blog.desc}}</div>
        <!-- 博文作者、分类、日期、阅读量 -->
        <div class="blog-summary-icon-div">
            <i nz-icon type="user" theme="outline"></i>&nbsp;&nbsp;{{blog.author}}
            <!-- <i nz-icon type="tag" theme="outline"></i>&nbsp;&nbsp;Java基础 -->
            <i nz-icon type="calendar" theme="outline"></i>&nbsp;&nbsp;{{blog.lastModifyTime | date:'yyyy-MM-dd HH:mm:ss'}}
            <i nz-icon type="eye" theme="outline"></i>&nbsp;&nbsp;{{blog.viewNum}}
        </div>
      </div>
    </nz-card>
    <ng-template #extraTemplate>
      <a (click)="edit(blog)"><i nz-icon type="edit" theme="outline" class="blog-card-button"></i></a>
      <a (click)="delete(blog)"><i nz-icon type="delete" theme="outline" class="blog-card-button" style="color: #ff4d4f"></i></a>
    </ng-template>
  </div>
  <div class="page-bottom-button-group">
    <button nz-button nzType="dashed" style="width: 300px;" (click)="add()">添加</button>
  </div>
</div>