<div class="blog">
  <!-- 博客标题 -->
  <input nz-input placeholder="标题" [(ngModel)]="blogEditService.blog.name">
  <!-- 博客编辑框 -->
  <quill-editor [(ngModel)]="blogEditService.blog.content"
    (onContentChanged)="contentChange($event)" 
    [modules]="quillEditorModules" 
    [style]="quillHeight">
  </quill-editor>
  <div class="page-bottom-button-group">
    <button nz-button nzType="primary" (click)="save()">保存</button>
    <button nz-button nzType="primary">发布</button>
    <button nz-button nzType="danger">取消</button>
  </div>
</div>