.card-div {
    padding:0 10px;
    /* background-color: #efefef; */
}

.card {
    width: 200px;
    height: 180px;
    display: inline-block;
    margin: 10px;
    text-align: center;
    background-color: #efefef;
}

.card-icon {
    font-size: 50px;
    color: #08c;
    padding: 20px 0;
}